table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    width: 60%;
}
flag {
    height: 20px;
}
td, th {
    padding: 5px;
}
td {
    text-align: center;
}
.center {
    text-align: center;
}
.right {
    text-align: right;
}
.bold {
    font-weight: 600px ;
}
.gold {
background-color: gold;
}
.silver {
    background-color: silver;
}
.bronz {
    background-color:burlywood;
}
caption {
    color: purple;
   font-size: 50px;
}
tfoot {
    font-size: 30px;
}
h1 {
    color:midnightblue;
}
